body{
  overflow: hidden;
}
html {
	background-color: gray;
}

body {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: Rockwell, sans-serif;
  font-size: 10px;
	width: 411px;
  height: 753.28px;
	margin: 0 auto;
}

/* Status Bar */
.status-bar {
	background-color: #000;
	display:flex;
}

.status-bar-icons {
	margin: 0.5vh 1vh 0.5vh auto;
}

.clock {
	color: #FFF;
	font-size: 15px;
	margin: auto 1vh auto 0;
	padding: 0 0;
}


/* Nav bar */
.nav-bar {
	display: flex;
}

.hmbgicon {
	display: inline;
	margin: 7.5px;
	padding: 0 0;
}

.navbar-title{
   font-size: 20px;
	 margin: 3.8px 3.8px;
   padding-right: 40px;
   line-height: 50px;
   margin-top: 6px;
}

.favorite {
	padding: 0px 8px 0px 0px;
  display: inline-block;
}

.shape {
	padding: 0px 4px 0px 0px;
}

.map{
  	filter: drop-shadow(0 1px 1px gray);
}

.bound {
	display: block;
	background-color: #565656;
  font-size: 15px;
  /* padding: 7.5px 20px 7.5px 7.5px; */
}
.bound h2{
  padding: 7.5px 20px 7.5px 7.5px;
  color: white;
}

.parent {
  width: 100%;
  overflow-y: scroll;
}

.busLine {
  scrollbar-width: none; /* for Firefox and Edge */
  -ms-overflow-style: none; /* for IE */
  height: 300px;
  width: 100%;

}

.busLine::-webkit-scrollbar{ /* for Chrome */
  display: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: #eaebed;
  /* padding-right: 15px; */

}
.active{
  background-color: #eaebed;
}
.active:hover {
  background-color: #c8ff00;
}
.item1{
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  width: 80px;
}

.item2 {
  font-size: 14px;
  margin: 1vh 1vh;
  width: 120px;
}

.item3 {
  font-size: 15px;
  font-weight: bold;
  color:purple;
  margin: 1vh 1vh;
  width: 102.25px;
}

.item4 {
  font-size: 15px;
  font-weight: normal;
  color:#575656;
  margin: 1vh 1vh;
  width: 102.25px;
}

.color {
  color:#918e8c;
  font-weight: normal;
}
